name: Helm linter

on:
  workflow_call:
    inputs:
      build_dependencies:
        description: "Set to true if there are 3rd party dependencies"
        required: false
        type: boolean
        default: false

env:
  REGISTRY: ghcr.io
  REGISTRY_NAMESPACE: toolops

jobs:
  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: ${{ inputs.build_dependencies == true }}
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Helm dependencies
        if: ${{ inputs.build_dependencies == true }}
        run: |
          helm dependency build

      - name: Lint chart
        run: helm lint .
